:root {
    display: flex;
    background-color: rgb(101, 123, 132);
    align-items: center;
    flex-direction: column;
}


.appbox {
    max-width: 700px;
    margin: 3rem auto;
    padding: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.title {
    font-size: 5rem;
}

.text-box{
    display: flex;
    align-items: center;
    align-content: center;
}

.buttons{
    border-radius: 15%;
}

.contract-interactions {
    display: flex;
    align-items: row;
    align-content: center;
    padding: 10px;
    margin-left: auto;
}